# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

packages/**/examples/**/catalog/*
packages/**/pnpm-lock.yaml
packages/**/package-lock.yaml

packages/**/src/test/catalog/*
packages/**/src/test/tmp/*


examples/**/**/queries
examples/**/**/events
examples/**/**/domains
examples/**/**/services
examples/**/**/channels
examples/**/**/commands
examples/**/**/dependencies

!examples/generator-federation/basic/customer-experience-team/services
!examples/generator-federation/basic/customer-experience-team/services/**/queries
!examples/generator-federation/basic/customer-experience-team/services/**/events
!examples/generator-federation/basic/customer-experience-team/services/**/commands

!examples/generator-federation/basic/order-management-team/services
!examples/generator-federation/basic/order-management-team/services/**/queries
!examples/generator-federation/basic/order-management-team/services/**/events
!examples/generator-federation/basic/order-management-team/services/**/commands

!examples/generator-federation/basic/payment-team/services
!examples/generator-federation/basic/payment-team/services/**/queries
!examples/generator-federation/basic/payment-team/services/**/events
!examples/generator-federation/basic/payment-team/services/**/commands

!packages/generator-ai/src/test/catalog/domains
!packages/generator-ai/src/test/catalog/teams
!packages/generator-ai/src/test/catalog/users
!packages/generator-ai/src/test/catalog/docs
packages/generator-ai/src/test/catalog-no-resources

examples/**/**/build
examples/**/**/package-lock.json
examples/**/**/dist
examples/**/**/.astro
examples/**/**/node_modules
examples/**/**/.eventcatalog-core
examples/**/**/.git
examples/**/**/.github

scripts/

examples/generator-amazon-apigateway/basic/amazon-api-gateway-output



